<div class ="#{flash[:sucess]}">    

<table>
    <tr>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Type</th>
    <th>Living Space</th>
    <th>Guests</th>
    <th>Price</th>
    <th>Amenities</th>
    </tr>
    <tr>

      <% i = 0 %>
      <% while i <= (@listing.avatars.length - 1) do  %> 
      <td><%=image_tag @listing.avatars[i].small.url %> </td>  
      <% i = i + 1 %>
      <% end %>  


    <td><%= @listing.title %></td>    
    <td><%= @listing.description %></td>    
    <td><%= @listing.location %></td>    
    <td><%= @listing.property_type %></td>       
    <td><%= @listing.living_space %></td>   
    <td><%= @listing.guests %></td>    
    <td><%= @listing.price %></td>   
    <td><%= @listing.amenities %></td>  
    
    <tr> 
</table>
