<div class ="#{flash[:sucess]}">    
   <!--  <p><strong><h8>Title</h8></strong>
      <br>
      <%= @listing.title %></p>    
    <p> -->
      <!-- <strong><h8>Description: </h8></strong> -->
      
      <%= @listing.description %></p>    
      <p>      
      <!-- <strong><h8>City</h8></strong> -->
      <%= @listing.location %></p>    
      <p>
      <!-- <strong><h8>Type</h8></strong> -->      
      <%= @listing.property_type %></p>       
      <p>
      <!-- <strong><h8>Living Space</h8></strong> -->      
      <%= @listing.living_space %></p>   
     <p>
      <!-- <strong><h8>Guests</h8>      </strong> -->      
      <%= @listing.guests %></p>    
    <!-- <p><strong><h8>Price</h8></strong> -->      
      <%= @listing.price %></p>   
      <p>
      <!-- <strong><h8>Amenities</h8></strong> -->        
    <%= @listing.amenities * "," %></p>  
    </div>

    <!-- <%# @listing.amenities.each do |x| %>
        <p><%#= x %></p>
      <%# end %>  -->
    <!-- 
      <p><%# i = 0 %> -->
      <%# while i <= (@listing.avatars.lengh8 - 1) do  %> 
      <%#=image_tag @listing.avatars[i].small.url %> 
      <%# i = i + 1 %> 
      <%# end %> 
     <!-- </p>  -->
