<%= link_to "Listings", listings_path %>
<%= link_to "New", new_listing_path %>
<%= link_to 'Back', :back %>


<h1>Listings</h1>


<%= form_tag listings_path, method: :get do %>
  <!-- <#%= number_field_tag :guests %> -->
  <%= text_field_tag :location, params[:location] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<div class="d-flex flex-wrap">
    <% @listings.each do |listing| %>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= link_to listing.title ,listing_path(listing) %></h5>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text"><%= listing.location %></p>
      <p class="card-text"><%= listing.property_type %></p>
      <p class="card-text"><%= listing.price %></p>
    </div>
  </div>


<% end %>


<%= paginate @listings %>