<%= link_to "Listings", listings_path %>
<%= link_to "New", new_listing_path %>
<%= link_to 'Back', :back %>

Create New Listing

 <%= form_for @listing do |f| %>

 <%= render partial: '/listings/form', :locals => {:f => f } %>

  
  <div><%= f.submit %></div>
  
 <% end %>


