<% @listings.each do |listing| %>
  <tr>
    <td><%= listing.title %></td>
    <td></td>
    <td><%= listing.location %></td>
    <td></td>
    <td><%= listing.property_type %></td>
    <td></td>
    <td><%= listing.price %></td>
    <td></td>
    <td><%= link_to "View", listing %></td>
    
  </tr>
<% end %>