<div class="d-flex align-items-center">
  <div class ="card-columns">
    <% @listings.each do |listing| %>
    <div >
  <div class="card" style="width: 25rem; height: 27rem">
    <div id = "picdex"><%=image_tag listing.avatars[0].small.url, class: "card-img-top", alt:"Card image cap" unless listing.avatars.empty? %></div>
    <div class="card-body">
      <h5 class="card-title"><%= link_to listing.title ,listing_path(listing) %></h5>
      <!-- <p class="card-text"><#= listing.description %></p> -->
      <p class="card-text"><%= listing.location %></p>
      <p class="card-text"><%= listing.property_type %></p>
      <p class="card-text"><%= listing.price %></p>
      <p class="card-text"><%= listing.bathrooms %></p>
      <p class="card-text"><%= listing.bedrooms %></p>
    </div>
  </div>
</div>
<% end %>
</div>
</div>