<%= link_to "Listings", listings_path %>
<%= link_to "New", new_listing_path %>
<%= link_to 'Back', :back %>

<h1>Show Listing</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Type</th>
    <th>Living Space</th>
    <th>Guests</th>
    <th>Price</th>
    <th>Amenities</th>
    <th></th>
  </tr>
 

  <tr>
    <td><%= @listings.title %></td>
    <td></td>
    <td><%= @listings.description %></td>
    <td></td>
    <td><%= @listings.location %></td>
    <td></td>
    <td><%= @listings.property_type %></td>
    <td></td>    
    <td><%= @listings.living_space %></td>
    <td></td>
    <td><%= @listings.guests %></td>
    <td></td>
    <td><%= @listings.price %></td>
    <td></td>
    <td><%= @listings.amenities %></td>
   
  </tr>

</table>




<%= link_to "Edit", edit_listing_path(@listings) %>

<%= link_to 'Delete', listing_path(@listings),
            :confirm => 'Are you sure?', :method => :delete %>


