<h2>My Properties </h2>

<h3>Reservations: </h3>

<table>
    <tr>
    <th>Location</th>
    <th></th>
    <th>Check-in Date</th>
    <th></th>
    <th>Check-out Date</th>
    <th></th>
    </tr>


<% i= 0 %>
<% while i < @listings.length %> 
  <%= @listings[i].location %> 
  <% @listings[i].reservations.each do |r| %>
    <%= r.check_in %> 
    <%= r.check_out %> 
  <% end %> 
<% i = i + 1 %> 
<% end %> 
<!-- 
<%# @listings.each do |l| %>
    <%#= @l.reservations.each do |r| %> 
    <%#= @r.check_in if !@r.check_in.nil? %> 
    <%#= @r.check_out if !@r.check_out.nil? %> 
    <%# end %>  
<%# end %>   -->

<br>
<br>
<br>

<h3>My Trips</h3>
<h3>Reservations: </h3>

<table>
    <tr>
    <th></th>
    <th>Location</th>
    <th></th>
    <th>Check-in Date</th>
    <th></th>
    <th>Check-out Date</th>
    <th></th>
    <th>View Listing</th>
    <th></th>
    </tr>
    
    <% @my_reservations.each do |r| %> 
    <tr>
    <td><%= r.listing.location if !r.listing.nil? %></td>
    <th></th>
    <td><%= r.check_in %></td>
    <th></th>
    <td><%= r.check_out %></td>
     <th></th>
    <!-- <td><%#= link_to "View" ,listing_reservations_path(reservation)  %></td>  -->
    <th></th>
    <tr> 
    <% end  %>      
    </table>

