 <!-- <%#= link_to "reservations", reservations_path %> -->
 <!-- <%#= link_to "New", new_reservation_path %> -->
 <!-- <%#= link_to 'Back', :back %> -->


 <!-- <h#1>reservations</h1> -->


 <!-- <%#= form_tag reservations_path, method: :get do %> -->
   <%= number_field_tag :guests %>
   <%= text_field_tag :location, params[:location] %>
   <%= submit_tag "Search", name: nil %>
 <!-- <%# end %> -->


 
 <!-- <t#able> -->
   <!-- #<tr> -->
   <!-- #  <th>Title</th> -->
   <!-- #  <th>Location</th> -->
   <!-- #  <th>Type</th> -->
   <!-- #  <th>Price</th> -->
   <!-- #  <th></th> -->
   <!-- #</tr> -->
 
 <!-- <%# @reservations.each do |reservation| %> -->
   <!-- #<tr> -->
   <!-- #  <td><%= link_to reservation.title ,reservation_path(reservation) %></td> -->
   <!-- #  <td></td> -->
   <!-- #  <td><%= reservation.location %></td> -->
   <!-- #  <td></td> -->
   <!-- #  <td><%= reservation.property_type %></td> -->
   <!-- #  <td></td> -->
   <!-- #  <td><%= reservation.price %></td> -->
   <!-- #  <td></td> -->
  <!-- #  <!-<td><%= #link_to "View", reservation %></td> --> 
    
   <!-- #</tr> -->
 <!-- <%# end %> -->
 <!-- </#table> -->




