<%= link_to "Listings", listings_path %>
<%= link_to "New", new_listing_path %>
<%= link_to 'Back', :back %>
<br>

Reservation Show Page

Congrats, your reservation is successful


<table>
  <tr>

    <th>Total Amount</th>
    <th>Guests</th>
    <th>Check-in Date</th>
    <th>Check-out Date</th>
    
    
    <th></th>
  </tr>
 

  <tr>
    <td><%= @reservation.total_price %></td>
    <td></td>
    <td><%= @reservation.guests %></td>
    <td></td>
    <td><%= @reservation.check_in %></td>
    <td></td>
    <td><%= @reservation.check_out %></td>   
  </tr>

</table>

<%= link_to "Make Payment", payment_new_path %>

<%= link_to "Edit", edit_listing_reservation_path(@reservation) %>

<%= button_to "delete", listing_reservation_path(@reservation), :confirm => 'Are you sure?', :method => "delete" %>

<!-- %= link_to 'Delete', listing_reservation_path(@reservation),:confirm => 'Are you sure?', :method => "delete" %>
