Reservation Show Page

Congrats, your reservation is successful

<!-- <%#= render "/listings/display" %> -->

<table>
  <tr>

    <th>Total Amount</th>
    <th>Guests</th>
    <th>Check-in Date</th>
    <th>Check-out Date</th>
    
    
    <th></th>
  </tr>
 

  <tr>
    <td><%= @reservations.total_price %></td>
    <td></td>
    <td><%= @reservations.guests %></td>
    <td></td>
    <td><%= @reservations.check_in %></td>
    <td></td>
    <td><%= @reservations.check_out %></td>
    
   
  </tr>

</table>

<%= link_to "Edit", edit_reservation_path(@reservations) %>

<%= link_to 'Delete', reservation_path(@reservations),
            :confirm => 'Are you sure?', :method => :delete %>
